#https properties
server.ssl.key-store-type=PKCS12
server.ssl.key-store=
server.ssl.key-store-password=
server.ssl.key-password=
server.ssl.protocol=

#telegram properties
telegram.token=
telegram.username=
telegram.path=
telegram.cert=

#database properties
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.properties.hibernate.dialect=
spring.datasource.driver-class-name=